.main-container {

}

.jumbotron {
	background-image: url(../images/parchment.jpg);
	background-position: 0% 25%;
	background-size: cover;
	background-repeat: no-repeat;
}

.header {
	text-align: center;
}

.header h1 {
	font-family: 'Pacifico', cursive;
	font-size: 72px;
}

.header h3 {
	text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F, 0 0 0.2em #87F;
	font-family: 'Architects Daughter', cursive;
}

.footer {
	text-align: center;
	font-family: 'Architects Daughter', cursive;
	font-size: 25px;
}

.start-block {
	width: 800px;
}

.form {

}

.open-page {
	
}

.story-block {

}

.current-chapter {

}

.storytime {
	font-family: 'The Girl Next Door', cursive;
}

.tree {
	vertical-align: center;
}

.left-side {
	vertical-align: right;
}

.right-side {
	vertical-align: left;
}

#inner {
	width: 75%;
	margin: 0 auto; 
	padding: 10px;
}
