.main-container {
	background-image: url(../images/forest.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.jumbotron {
	min-height: 500px;
	background-image: url(../images/butterflies.jpg);
	background-position: 0% 25%;
	background-size: cover;
	background-repeat: no-repeat;
}

.header {
	text-align: center;
}

.header h1 {
	font-family: 'Pacifico', cursive;
	font-size: 72px;
	color: white;
	text-shadow: 2px 2px 4px #000000;
}

.header h3 {
	text-shadow: 0 0 0.2em #f9d66a, 0 0 0.2em #f9d66a, 0 0 0.2em #f9d66a;
	font-family: 'Architects Daughter', cursive;
}

.footer {
	text-align: center;
	font-family: 'Architects Daughter', cursive;
	font-size: 25px;
	text-shadow: 0 0 0.2em #f9d66a, 0 0 0.2em #f9d66a, 0 0 0.2em #f9d66a;
}

.start-block {
	width: 800px;
}

.start-block h3 {
	color: white;
	text-shadow: 2px 2px 4px #000000;
}

.start-block h4 {
	color: white;
	text-shadow: 2px 2px 4px #000000;
}

.form h1 {
	color: white;
	text-shadow: 2px 2px 4px #000000;
}

.form {
	align-content: center;
}

.open-page {
	
}

.story-block {

}

#oppressed {
	margin: 200px auto; 
	padding: 10px;
}

.current-chapter {
	font-family: 'Slabo 27px', serif;
	font-size: 36px;
}

.storytime {
	font-family: 'The Girl Next Door', cursive;
}

.tree {
	vertical-align: center;
}

.left-side {
	vertical-align: right;
	margin-left: 500px auto;
}

.right-side {
	vertical-align: left;
}

#inner {
	width: 75%;
	margin: 0 auto; 
	padding: 10px;
}

#iLikeBigButtonsAndICannotLie {
	height:200px;
	width:200px;
}
